<mat-card>
	<mat-card-header>
		<mat-card-title>{{ product.name }}</mat-card-title>
		<mat-card-subtitle>Подкатегория: {{ product.subCategory }}</mat-card-subtitle>
	</mat-card-header>
	<div class="img-container">
		<button
			mat-icon-button
			(click)="chevronClick('left')">
			<mat-icon>chevron_left</mat-icon>
		</button>
		<img
			mat-card-image
			alt="Photo of a Product"
			[src]="product.images[currentImageIndex].url" />
		<button
			mat-icon-button
			(click)="chevronClick('right')">
			<mat-icon>chevron_right</mat-icon>
		</button>
	</div>
	<mat-card-content>
		<p>Описание товара</p>
		<p>
			<span>Рейтинг: {{ product.rating }}</span>
			<br />
			<span>Количество отзывов: {{ product.feedbacksCount }}</span>
		</p>
		<p>
			Цена:
			<span>{{ product.price | currency }}</span>
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button
			mat-raised-button
			color="primary"
			class="btn-by"
			(click)="clickBy($event, product._id)">
			Купить
		</button>
	</mat-card-actions>
	<mat-card-footer>
		<small>{{ message }}</small>
	</mat-card-footer>
</mat-card>
<!-- бегущая строка   <marquee behavior="scroll" width="400px" direction="right">{{message}}</marquee>-->
