.example-card {
	max-width: 400px;
	margin: 40px;
	display: inline-flex;
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}

.card {
	display: inline-grid;
	padding: 25px;
}
