<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>{{ product.name }}</mat-card-title>
		<mat-card-subtitle>{{ product.price }} $</mat-card-subtitle>
	</mat-card-header>
	<mat-card-actions class="card">
		<button mat-fab extended color="accent" (click)="onClick($event)">
			<mat-icon>favorite</mat-icon>
			Купить ЭТО
		</button>
	</mat-card-actions>
	<img mat-card-image alt="{{ product.subCategory }}" [src]="product.images[0].url" />
	<mat-card-content>
		<br />
		<p>
			{{ product.text }}
		</p>
	</mat-card-content>
</mat-card>
