:host {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

:host(.empty) {
	display: none;
}

.popup__window {
	width: 600px;
	height: 600px;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.popup__close-button {
	border: 1px solid lightgray;
	color: gray;
	background-color: white;
	cursor: pointer;
}

.popup__window-content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__window-header {
	display: flex;
	justify-content: end;
}
