.popup-host {
  background: rgba(37,40,43,.4);
  bottom: 0;
  left: 0;
  padding: 15px 40px 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10006;
}

.popup-host > .popup-content {
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(37,40,43,.15);
  width: 660px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: calc(100vh - 55px);
  max-width: 100%;
  padding: 20px;
}

.popup-host.hidden {
  display: none;
}
