<app-header
	[applicationConfig]="applicationConfig"
>
	<h1>Header</h1>
</app-header>
<!-- <app-sidenav
    #sidenavComponent
    [navigationTemplate]="navigationTemplate"
>-->
<!--<app-sidenav #sidenavComponent>
	&lt;!&ndash; <ng-template #navigationTemplate let-name="firstName"> &ndash;&gt;
	&lt;!&ndash; <ng-template #navigationTemplate> &ndash;&gt;
	<ng-container ngProjectAs="navigation">
		{{ applicationConfig.title }}
		<mat-list role="list">
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>
	</ng-container>

	<input />
	<p>It works</p>
	&lt;!&ndash; </ng-template> &ndash;&gt;
</app-sidenav>-->

<app-popup-host [template]="isPopupOpened ? navigationTemplate : null"></app-popup-host>

<ng-template #navigationTemplate>
    {{applicationConfig.title}}
    <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
</ng-template>
