<app-header
	[applicationConfig]="applicationConfig"
	(menuClick)="sidenavComponent.toggleSidenavOpened()"
></app-header>
<app-sidenav #sidenavComponent>
	<ng-container ngProjectAs="navigation">
		{{ applicationConfig.title }}
		<mat-list role="list">
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>
	</ng-container>

	<!-- <app-products-list></app-products-list> -->
	<router-outlet></router-outlet>
</app-sidenav>

<!-- <app-popup-host></app-popup-host> -->

<button
	style="position: absolute; width: 100%; height: 60px"
	(click)="openModal('dialog')"
>
	Открыть
</button>
<jw-modal id="dialog">
	<h1>Какая-то всплывашка.</h1>
	<button (click)="closeModal('dialog')">Close</button>
</jw-modal>
