<!-- <h1 id="test"> -->
<!-- {{ 'Test' + 'con' }} -->
<!-- {{ title }} -->
<!-- {{window.Promise}} -->
<!-- {{ this.title }} -->
<!-- </h1> -->
<mat-toolbar color="primary">
	<button
		mat-icon-button
		aria-label="Example icon-button with menu icon"
		class="example-icon"
		(click)="onClick($event)"
	>
		<!-- addEventListener('click', () => {onClick()}) -->
		<mat-icon>menu</mat-icon>
	</button>
	<!-- <img class="shop-icon" src="{{iconSrc}}"> -->
	<!-- img.src = component.imgSrc -->
	<img class="shop-icon" [src]="iconSrc" />
	<span>Магазин техники</span>
	<span class="example-spacer"></span>
	<button
		mat-icon-button
		aria-label="Example icon-button with heart icon"
		class="example-icon favorite-icon"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<button
		mat-icon-button
		aria-label="Example icon-button with share icon"
		class="example-icon"
	>
		<mat-icon>share</mat-icon>
	</button>
</mat-toolbar>
