<!-- <ng-template let-productsFromContext="$implicit" let-ngIfInputValue="ngIf" [ngIf]="products" [ngIfElse]="loader"> -->
<div
	*ngIf="products as ngIfInputValue; else loader; let productsFromContext = $implicit"
	class="scroll-container"
>
	<ng-container
		*appPagination="
			let chankProducts of productsFromContext;
			chankSize: 4;
			let pageIndexes = indexes;
			let nextPage = next;
			let backPage = back;
			let onPage = onPage;
			let currentPageIndex = index
		"
	>
		<div class="cards-container">
			<app-card
				*ngFor="
					let product of chankProducts;
					trackBy: trackById;
					let index = index
				"
				class="card"
				[product]="product"
				(buy)="onBuy($event)"
			></app-card>
		</div>
		<div class="pagination-container">
			<button mat-icon-button (click)="backPage(); $event.preventDefault()">
				<mat-icon>chevron_left</mat-icon>
			</button>
			<button
				*ngFor="let index of pageIndexes"
				mat-icon-button
				color="{{ currentPageIndex === index ? 'primary' : '' }}"
				(click)="onPage(index); $event.preventDefault()"
			>
				{{ index + 1 }}
			</button>
			<button mat-icon-button (click)="nextPage(); $event.preventDefault()">
				<mat-icon>chevron_right</mat-icon>
			</button>
		</div>
	</ng-container>
</div>

<ng-template #loader>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>
