<!-- <h1 appInsertShadow>Its card</h1> -->

<ng-template let-productsFromContext [ngIf]="calculateProducts" [ngIfElse]="loader">
	<!-- <ng-template [appDumpNgIf]="calculateProducts" let-productsFromContext> -->

	<!-- Заменить при выполнении ДЗ -->
	<!-- <div appScrollWithLoading class="scroll-container" (loadData)="onLoad($event)"> -->
	<div class="scroll-container">
		{{ productsFromContext }}
		<!-- {{productsFromContextImplicit}}
        {{nameFromContext}} -->
		<app-card
			class="card"
			[product]="productsFromContext[0]"
			(buy)="onBuy($event)"
		></app-card>
		<app-card
			class="card"
			[product]="productsFromContext[1]"
			(buy)="onBuy($event)"
		></app-card>
		<app-card
			class="card"
			[product]="productsFromContext[2]"
			(buy)="onBuy($event)"
		></app-card>
		<app-card
			class="card"
			[product]="productsFromContext[3]"
			(buy)="onBuy($event)"
		></app-card>
		<app-card
			class="card"
			[product]="productsFromContext[4]"
			(buy)="onBuy($event)"
		></app-card>
	</div>
</ng-template>

<ng-template #loader>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>

<!-- <ng-container #viewport></ng-container>

<ng-template #additionalCards>
    <app-card class="card" [product]="products?.[3]" (buy)="onBuy($event)"></app-card>
    <app-card [class.warn]="true" class="card" [product]="products?.[4]" (buy)="onBuy($event)"></app-card>
</ng-template> -->
