<!-- <app-counter-input
	[class.touched]="counterFormControl.touched"
	[class.untouched]="counterFormControl.untouched"
	[step]="100"
	[formControl]="counterFormControl"
></app-counter-input>

{{counterFormControl.value}}
{{counterFormControlValue$ | async}}
{{counterFormControl.touched}} -->

<!-- <app-counter-input
	#ngModel="ngModel"
	[step]="100"
	[ngModel]="counter"
	(ngModelChange)="onCounterChange($event)"
></app-counter-input> -->
<!-- <app-counter-input
	[step]="100"
	[(ngModel)]="counter"
></app-counter-input> -->

<!-- {{counter}}
{{ngModel.value}} -->

<!-- <mat-form-field class="example-full-width">
	<mat-label>Search</mat-label>
	<input matInput [formControl]="searchControl"/>
</mat-form-field>

{{searchControl.errors | json}}
{{(searchedProductNameErrors$ | async) | json}}
{{searchControl.valid}} -->

<mat-form-field class="example-full-width">
	<mat-label>Search</mat-label>
	<input #searchInput="ngModel" matInput ngModel appIsStringAsync [minlength]="3" />
</mat-form-field>
{{ searchInput.errors | json }}
{{ searchInput.valid }}

<mat-slider min="0" max="1000" class="slider-on-search">
	<input #searchSliderMin="ngModel" ngModel="100" matSliderStartThumb />
	<input #searchSliderMax="ngModel" ngModel="200" matSliderEndThumb />
</mat-slider>
{{ searchSliderMin.value }} - {{ searchSliderMax.value }}

<div *ngIf="products$ | async as products; else loader" class="scroll-container">
	<!-- <ng-container
		*appPagination="
			let productsGroup of products | filterByProperty : 'name' : (searchedProductName$ | async);
			chankSize: 6;
			let pageIndexes = pageIndexes;
			let activeIndex = index;
			let next = next;
			let back = back;
			let selectIndex = selectIndex
		"
	> -->
	<ng-container
		*appPagination="
			let productsGroup of products
				| filterByProperty : 'name' : searchInput.value
				| filterByPrice : 'price' : searchSliderMin.value : searchSliderMax.value;
			chankSize: 6;
			let pageIndexes = pageIndexes;
			let activeIndex = index;
			let next = next;
			let back = back;
			let selectIndex = selectIndex
		"
	>
		<div class="cards-container">
			<app-card
				*ngFor="let product of productsGroup; trackBy: trackById"
				class="card"
				[routerLink]="'/product/' + product._id"
				[product]="product"
			></app-card>
		</div>

		<div class="pagination-container">
			<button mat-icon-button (click)="back()">
				<mat-icon>chevron_left</mat-icon>
			</button>
			<div class="pagination__page-number-container">
				<button
					*ngFor="let index of pageIndexes"
					mat-icon-button
					class="pagination__page-number"
					[class.pagination__page-number_active]="activeIndex === index"
					(click)="selectIndex(index)"
				>
					{{ index + 1 }}
				</button>
			</div>
			<button mat-icon-button (click)="next()">
				<mat-icon>chevron_right</mat-icon>
			</button>
		</div>
	</ng-container>
</div>

<ng-template #loader>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>
